<div id="html">
    <div id="body">


        <div class="container_text">
            <div style="width:30px; height:1px; background: #fff;">
                <p class="p1">Pedido<br>Realizado</p>
                <div style="width:25px; height:1px; background: #fff;">
                </div>
                <p class="p1">Ord. Produção<br>Criada</p>
                <div style="width:35px; height:10px; background: #fff;">
                </div>
                <p class="p1">Em<br>Produção</p>
                <div style="width:190px; height:10px; background: #fff;">
                </div>
                <p class="p1">Elétrica e<br>Testes</p>
                <div style="width:50px; height:1px; background: #fff;">
                </div>
                <p class="p1">Pintura</p>
                <div style="width:45px; height:1px; background: #fff;">
                </div>
                <p class="p1">Embalagem</p>
                <div style="width:35px; height:1px; background: #fff;">
                </div>
                <p class="p1">Pronto para<br>Entrega</p>
            </div>
        </div>>




        <div class="container">
            <div style="width:30px; height:1px; background: #fff;">
                <div class="board">
                    <div class="circle outer_verde">
                        <div class="circle center_verde">
                        </div>
                        <div class="linha_verde">
                        </div>
                        <div class="container">
                            <div class="board">
                                <div class="circle outer_verde">
                                    <div class="circle center_verde">
                                    </div>
                                    <div class="linha_verde"></div>
                                </div>
                                <div class="container">
                                    <div class="board">
                                        <div class="circle outer_verde">
                                            <div class="circle center_verde">
                                            </div>
                                            <div class="linha_producao"></div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="board">
                                            <div class="circle outer_verde">
                                                <div class="circle center_verde">
                                                </div>
                                                <div class="linha_verde"></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="board">
                                                <div class="circle outer_verde">
                                                    <div class="circle center_verde">
                                                    </div>
                                                    <div class="linha_verde"></div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="board">
                                                    <div class="circle outer_verde">
                                                        <div class="circle center_verde">
                                                        </div>
                                                        <div class="linha_verde"></div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="board">
                                                        <div class="circle outer_verde">
                                                            <div class="circle center_verde">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container_text">
                <div style="width:10px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 02/06/2017<br>Hora: 10:55</p>
                <div style="width:20px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 02/06/2017<br>Hora: 14:35</p>
                <div style="width:16px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 04/06/2017<br>Hora: 19:00</p>
                <div style="width:150px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 21/07/2017<br>Hora: 14:35</p>
                <div style="width:20px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 24/07/2017<br>Hora: 16:22</p>
                <div style="width:20px; height:1px; background: #fff;">
                </div>
                <p class="p2">Data: 02/06/2017<br>Hora: 14:35</p>
                <div style="width:24px; height:1px; background: #fff;">
                </div>
                <p class="p2">Previsão<br>05/08/2017</p>
            </div>




            <div class="container">
                <div style="width:15px; height:1px; background: #fff;">
                    <div class="board">
                        <div class="botao center_botao_verde">
                            <div class="p3">Completo</div>
                            <div style="width:35px; height:1px; background: #fff;"></div>
                        </div>
                        <div class="container">
                            <div class="board">
                                <div class="botao center_botao_verde">
                                    <div class="p3">Completo</div>
                                </div>
                                <div style="width:35px; height:1px; background: #fff;"></div>
                            </div>
                            <div class="container">
                                <div class="board">
                                    <div class="botao center_botao_verde">
                                        <div class="p3">Completo</div>
                                    </div>
                                    <div style="width:165px; height:1px; background: #fff;"></div>
                                </div>
                                <div class="container">
                                    <div class="board">
                                        <div class="botao center_botao_verde">
                                            <div class="p3">Completo</div>
                                        </div>
                                        <div style="width:35px; height:1px; background: #fff;"></div>
                                    </div>
                                    <div class="container">
                                        <div class="board">
                                            <div class="botao center_botao_verde">
                                                <div class="p3">Completo</div>
                                            </div>
                                            <div style="width:35px; height:1px; background: #fff;"></div>
                                        </div>
                                        <div class="container">
                                            <div class="board">
                                                <div class="botao center_botao_verde">
                                                    <div class="p3">Completo</div>
                                                </div>
                                                <div style="width:35px; height:1px; background: #fff;"></div>
                                            </div>
                                            <div class="container">
                                                <div class="board">
                                                    <div class="botao center_botao_verde">
                                                        <div class="p3">Completo</div>
                                                    </div>
                                                    <div style="width:35px; height:1px; background: #fff;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div>

            </div>