<div class="container-fluid" #teste>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12 font-weight-bold paginaDeProdutos">
            <app-categorias (categoriaClicada)="categoriaSelecionada($event)"></app-categorias>
        </div>
        <div class="col-10 paginaDeProdutos">
            <p class="">Ordenar por:
                <select (change)="filtrar($event.target.value)" class="border border-dark mr-2">
                    <option selected disabled>Selecione</option>
                    <option [value]="1">Maior Preço</option>
                    <option [value]="2">Menor Preço</option>
                </select>
            </p>

            <section class="row" id="produtos">
                <div class="card col-lg-3 col-md-4 col-5" (click)="produtoSelecionado(produto)" *ngFor="let produto of produtos" style="width: 18rem;">
                    <img src={{produto.imagem}} height="220px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><strong>{{produto.nome}}</strong></h5> 
                        <a [routerLink]="['/lista-de-produtos', produto.idProduto]" class="card-text stretched-link" id="cardsDosProdutos">
                            <p id="precos"><s>de: {{produto.precoCheio | currency:"BRL"}}</s> <br> <b id="preco">
                                por {{produto.precoDesconto | currency:"BRL"}}</b></p>
                        </a>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>