.conteudoPaginaDoCliente {
  margin-top: 72px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.bordaTabela {
  margin-top: 20px;
  margin-bottom: 60px;
}

.titulos {
  width: 15vw;
}

.titulo {
  font-size: larger;
  color: rgb(10, 16, 27);
  font-weight: bold;
  margin-right: -4vw;
  color: rgb(34, 34, 63);

}


label{
  font-weight: bold;
  margin: 10px; 
  margin-top: 20px;}

.alinhar {
    display: flex;
    display: -webkit-flex; 
    
}

.alinhamento{
    text-align: right;
  }

  .coluna-3{
    margin-top: 15px;
    width: 20%;
    margin-right: 100px;
  }

  select {
    width: 80px;
    margin-left: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 30px;


}

input {
  height: 30px;
}

span {
  margin-right: 1vw;

}


.subtitulo {
  color: rgb(161, 156, 156);
  font-size: smaller;
  padding-top: 10px;
  font-weight: normal;
}