<main class="container" class="conteudoPaginaDoCliente p-">

  <form>

    <app-pagina-do-cliente></app-pagina-do-cliente>

    <header style="margin-top: 30px;" class="tituloProduto text-center">Resumo da compra
    </header>
    <table border="2" bordercolor=black class="bordaTabela">
      <thead>
      <tr>
        <th class="text-center" style="width:160px">Nº Pedido</th>
        <th class="text-center" style="width:200px">Data</th>
        <th class="text-center" style="width:200px">Situação</th>
        <th class="text-center" style="width:200px">Valor</th>
      </thead>
      <thead>
        <tr>
          <th class="text-center">#{{pedido.idPedido}}</th>
        <th class="text-center">#{{pedido.dtPedido | date:"dd/MM/yyyy"}}</th>
        <th class="text-center">Em Processamento</th>
        <th class="text-center">{{pedido.vlTotal.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</th>
      </thead>
    </table>
  
  </form>
</main>