.conteudoPaginaDoCliente{
margin-top: 72px;
display: flex;
justify-content: center;
}
.container{
display: flex;
justify-content: center;
}
.bordaTabela{
margin-top: 20px;
margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
    .responsividade{
        width: 10%;
    }
}