<div class="paginaCheckout">


  <main class=container>
    <div class="col-md-12 row">
      <div class="col-md-6">
        <div class="p-4"></div>
        <header class="tituloEntrega">
          <strong> ENTREGA </strong>
        </header>
        <div class="p-2"></div>

        <app-endereco *ngIf="principalEndereco != null" [endereco]="principalEndereco"></app-endereco>
        <div *ngIf="enderecos.length == 0" class="text-center mt-2 mb-3">
          <button class="btn btn-primary" (click)="abrirModal(novoEndereco)">Cadastrar novo endereço</button>
        </div>
        <a class="btn btn-primary text-light mt-2" (click)="abrirModal(listagemEnderecos)">Selecionar outro endereço</a>


        <ng-template #novoEndereco>
          <app-cadastrar-endereco (novoEndereco)="cadastrarEndereco($event)"></app-cadastrar-endereco>
      </ng-template>
      
      <ng-template #listagemEnderecos>
          <div class="listagemenderecos d-flex flex-column border border-top-0 pb-2 pr-4 pl-4">
              <div class="card ng-scope text-center sticky-top">
                  <h5 class="card-header tituloLista">Escolha o endereço</h5>
              </div>
              <a *ngFor="let item of enderecos" (click)="mudarEndereco(item)">
                  <app-endereco [endereco]="item"></app-endereco>
              </a>
              <div class="text-center mt-2 mb-3">
                  <button class="btn btn-primary" (click)="abrirModal(novoEndereco)">Cadastrar novo endereço</button>
              </div>
          </div>
      </ng-template>

        <app-formas-de-envio (enviarFormaDeEnvio)="FormaDeEnvio($event)" ></app-formas-de-envio>


      </div>
      <div class="col-md-6">

        <header class="tituloProduto"> RESUMO DA COMPRA
        </header>
        <table border="1" bordercolor=white class="bordaTabela">
          <thead>
            <tr>
              <td> </td>
              <th style="width:160px"> Produto </th>
              <th style="width:100px"> Preço </th>
              <th style="width:200px"> Quantidade </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of carrinho">
              <td> <img src={{item.produto.imagem}} width="50" height="50"> </td>
              <td>{{item.produto.nome}}</td>
              <td>R$ {{item.produto.precoDesconto}},00</td>
              <td>{{item.qtd}}</td>
          </tbody>
        </table>
        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="tituloTotal p-2">SUBTOTAL :
            {{subTotal | currency:"BRL"}}
          </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">

          <div class="tituloTotal p-2">TOTAL : {{total | currency:"BRL"}}
          </div>
        </div>

        <app-pagamento (enviarCartao)="finalizarCompra()" [frete]="formaDeEnvio" ></app-pagamento>