<main class="container" >
    <p class="text-muted"><a routerLink="">Home</a> > <a routerLink="/lista-de-produtos">Produtos</a></p>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
            <img [src]="produtoTela.image" width="60%" alt="">
        </div>
        <div class="col-lg-4">
            <h4>{{produtoTela.name}}</h4>
            <p>Código: {{produtoTela.idProduct}}</p>
            <hr>
            <p>{{produtoTela.description}}</p>
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        <s>de: {{produtoTela.vlProductFull}}</s>
                        <br>
                        <b id="preco">por: {{produtoTela.vlProductDiscount}}</b>
                    </p>
                </div>
                <div class="col-lg-6 d-flex">
                    <button id="adcCarrinho" type="button" routerLink="/carrinho" class="btn btn-success align-self-center ml-2" (click)="salvarProduto()">Adicionar
                        ao carrinho</button>
                </div>
            </div>
        </div>
    </div>
</main>