<main class="container">
    <p class="text-muted"><a routerLink="">Home</a> > <a routerLink="/lista-de-produtos">Produtos</a></p>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-6">
            <img src={{produtoTela?.imagem}} width="60%" alt="">
        </div>
        <div class="col-lg-4">
            <h4><strong>{{produtoTela?.nome}}</strong></h4>
            <p>Código: {{produtoTela?.idProduto}}</p>
            <hr>
            <p>{{produtoTela?.descricao}}</p>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <s>de: {{produtoTela?.precoCheio | currency:"BRL"}}</s>
                        <br>
                        <b id="preco">por: {{produtoTela?.precoDesconto | currency:"BRL"}}</b>
                    </p>
                </div>
                <div class="col-lg-12 d-flex">
                    <button id="adcCarrinho" type="button" routerLink="/carrinho"
                        class="btn btn-success align-self-center ml-2" (click)="salvarProduto()">Adicionar
                        ao carrinho</button>
                </div>
            </div>
        </div>
        <strong>Quem comprou isso, também viu isso</strong>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="card col-lg-3 mr-4 mt-5 col-md-4 col-5"
            *ngFor="let produto of produtoFiltrado  | slice: 0:3 ; index as i" style="width: 18rem;">
            <img src={{produto.imagem}} height="220px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary"><strong>{{produto.nome}}</strong></h5>
                <a [routerLink]="['/lista-de-produtos', produto.idProduto]" class="card-text stretched-link"
                    id="cardsDosProdutos">
                    <p id="precos"><s>de: {{produto.precoCheio | currency:"BRL"}}</s> <br> <b id="preco">
                            por {{produto.precoDesconto | currency:"BRL"}}</b></p>
                </a>
            </div>
        </div>
    </div>
</main>