    <p class="text-muted"><a routerLink="">Home</a> > <a routerLink="/produtos">Produtos</a></p>
    <h3 class="mb-3"><strong class="text-primary">CATEGORIAS</strong></h3>
    <div class="card" style="width: 13rem;">
    <ul id="categorias" class="rounded list-group list-group-flush">
        <li id="tituloCategoria" class="mt-4 p-2 list-group-item" *ngFor="let c of categoriaAPI">
            <a  routerLink="/lista-de-produtos" (click)="categoriaClicada.emit(c)">{{c.descricao}}</a>
        </li>
    </ul>
    <div>