.container{
    margin-top: 100px;
}

#mensagem{
    resize: none;
    border-radius: 5px;
}

h3{
    color: #4d85fe;
    text-align: center;
    font-weight: bold;
}

label{
    font-weight: bold;
}

.inputMensagem {
    height: 150px;
}