<main class="container">
    <div class="col-md-6 offset-md-3">
    <h3 class="mt-4 mb-4">FALE CONOSCO</h3>
    <form [formGroup]="formMensagem"  (ngSubmit)="enviarMensagem()">
        <div class="form-group">
            <label for="nome">Seu nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" formControlName="nome" placeholder="Nome do usuário">
            </div>
        <div class=" form-group">
            <label for="email"><b>E-mail:</b></label>
            <input class="form-control" type="text" formControlName="email" placeholder="Digite seu email">
        </div>
        <div class=" form-group">
            <label for="assunto"><b>Assunto:</b></label>
            <input class="form-control" type="text" formControlName="assunto" placeholder="Digite o assunto:  Elogios, sugestão, reclamação...">
        </div>
        <div class="form-group">
            <label for="mensagem"><b>Mensagem:</b></label>
            <textarea name="mensagem" class="form-control inputMensagem" formControlName="mensagem" cols="30" rows="10" placeholder="Digite aqui a sua mensagem..."
                 id="mensagem" required></textarea>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button class="btn btn-primary align-self-end" type="submit">Enviar</button>
        </div>
    </form>
</div>
</main>