<h3 *ngIf="resultadoBusca();else produtosPesquisados">Não foi encontrado produtos que coincidem com a busca</h3>
<ng-template #produtosPesquisados>
    <div class="container mb-3">
        <p>Resultado da pesquisa: </p>
        <section class="row" id="produtos">
            <div class="card col-lg-3 col-md-4 col-5" *ngFor="let produto of produtoService.produtosFiltrados"
                style="width: 18rem;">
                <img src={{produto.imagem}} height="220px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"><strong>{{produto.nome}}</strong></h5>
                    <a [routerLink]="['/lista-de-produtos', produto.idProduto]" class="card-text stretched-link"
                        id="cardsDosProdutos">
                        <p id="precos"><s>de: {{produto.precoCheio | currency:"BRL"}}</s> <br> <b id="preco">
                                por {{produto.precoDesconto | currency:"BRL"}}</b></p>
                    </a>
                </div>
            </div>
        </section>
    </div>
