<section class="p-3">
    <div class="d-flex justify-content-center mt-4 p-3">
        <h1 class="rounded" id="produtosMaisVendidos"><img src="assets/flocodegelo_branco.png" id="floco" width="50vw"
                alt="">&nbsp;<strong>Produtos mais vendidos </strong><img src="assets/flocodegelo_branco.png" id="floco"
                width="50vw" alt=""></h1>
    </div>

    <div class="row justify-content-center" id="card">

        <div class="card col-lg-3 col-md-5  mr-5 mt-5" *ngFor="let produtos of produtosExibidos">
            <img src={{produtos?.imagem}} class="card-img-top" alt="...">
            <div class="card-body text-justify">
                <h5 class="card-title text-center">{{produtos?.nome}}</h5>
                <a *ngIf="produtos" [routerLink]="['/lista-de-produtos', produtos?.idProduto]"
                    class="card-text stretched-link">
                    <p> <s>de: {{produtos?.precoCheio | currency:"BRL"}} </s> <br> <b id="preco">por
                            {{produtos?.precoDesconto | currency:"BRL"}}</b></p>
                </a>
            </div>
        </div>
    </div>

</section>