<main class="container">
    <div>
        <h4><strong>Pedido (#)</strong></h4> 

        <form>

        <div class="d-flex">
          <div class="col-md-6">
          <div class="card col" style="margin-bottom: 50px;">
            <table class="table table-bordeless">
              <thead>
                <tr>
                  <th scope="col">Detalhes do produto</th>
                  <th scope="col"></th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><img src="/src/assets/gelodecoco.png" width="30" alt=""></th>
                  <td colspan="2">
                    <b>MI ICE</b>
                    <br>
                    <b>Gelo de coco</b>
                  </td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
   
  



<div class="col-md-6">
    <form>


      <div class="">
      <br>
      <div class="d-flex">
        <div class="col-md-6">
        <div class="card col" style="margin-bottom: 50px;">
          <table class="table table-bordeless">
            <thead>
              <tr>
                <th scope="col">Detalhes do produto</th>
                <th scope="col"></th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><img src="/src/assets/gelodecoco.png" width="30" alt=""></th>
                <td colspan="2">
                  <b>MI ICE</b>
                  <br>
                  <b>Gelo de coco</b>
                </td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>

 

