<main>
    <div class="container-login">
        <div class="content-login primeiro-content">
            <div class="primeira-coluna">
                <h2 class="title-login title-primario">LOGIN</h2>
            </div>
            <div class="segunda-coluna">
                <h2 class="title-login title-segundario">Bem-vindo</h2>
                <p class="descricao descricao-secundaria">Entre com sua conta</p>
                <form name="formlogin" class="form" [formGroup] = "formularioLogin" (ngSubmit)="logar()">
                    <label class="label-input">
                        <input class="email p-2" type="email" name="email" formControlName="email" placeholder="Email" maxlength="60" required>
                    </label>
                    <label class="label-input">
                        <input id="senha" class="p-2" type="password" formControlName="password" name="password" placeholder="Senha" maxlength="20" required>
                    </label>
                    <button type="submit" class="btn2 btn-secundario">Logar</button>
                    <a routerLink="/esquecisenha" class="text-center">Esqueceu a senha? Clique aqui</a>
                    <a routerLink="/cadastro" class="text-center">Não tem cadastro? Cadastre-se</a>
                </form>
            </div> <!--  segunda coluna -->
        </div> <!--  primeiro content -->
    </div>
    <!-- Modal -->

</main>