<main class="container" class="conteudoPaginaDoCliente">
    <form [formGroup]="atualizarCliente" (ngSubmit)="onSubmit()">
        <div>

            <app-pagina-do-cliente></app-pagina-do-cliente>


            <div class="p-2">
                <br>
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input class="form-control" type="text" id="nome" name="nome" placeholder="{{usuario.nome}}"
                    formControlName="nome" disabled>
                </div>
            
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input class="form-control" type="text" id="cpf" name="cpf" placeholder="{{usuario.cpf}}"
                    formControlName="cpf" maxlength="11" disabled>
                </div>
            
                <div class="form-group">
                  <label for="tel">Telefone</label>
                  <input class="form-control" type="tel" id="tel" value="{{usuario.telefone}}" name="tel" placeholder=""
                    formControlName="tel" maxlength="11" disabled>
                </div>

                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input class="form-control" type="email" id="email" value="{{usuario.email}}" name="email" placeholder=""
                    formControlName="email" maxlength="30" disabled>
                </div>

              </div>
            
        </div>
    </form>
</main>


