#carouselExampleControls{
    margin-top: 100px;
}
/* .d-block{
    height: 375px;
    width: 100px;
} */

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(192, 183, 183, 0.116);
    
    
    color: rgba(165, 42, 42, 0.534);
     }




