<div class="conteudoPaginaDoCliente p-3">
  <img src="assets/minha-conta.png" alt="">
</div>

<main class="container">

  <form>

    <div>

      <ul class="nav nav-tabs rounded">
        <li class="nav-item">
          <a class="nav-link" routerLink="/minha-conta" routerLinkActive="active-link">Minha Conta</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/nova-senha"
            routerLinkActive="active-link">Alterar Senha</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/meus-pedidos"
            routerLinkActive="active-link">Meus Pedidos</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="/meus-enderecos"
            routerLinkActive="active-link">Meus Endereços</a>
        </li>

      </ul>


    </div>
  </form>
</main>