.conteudoPaginaDoCliente{
display: flex;
justify-content: center;
}
.container{
display: flex;
justify-content: center;
}
.active-link{
background-color:rgb(255, 255, 255);
}

@media only screen and (max-width: 768px){
    .nav-item{
        width: 100%;
    }
}