<h2 class="conteudoPaginaDoCliente p-3 d-flex justify-content-center">Minha conta</h2>

<main class="container">

  <form class="row mt-4">

    <div class="col-md-6">
      <header class="text-light p-2 margin-top:30 rounded" style="background-color: #6fb2ff;">
        Dados Pessoais
      </header>
      <div class="p-2">
        <br>
        <div class="form-group">
          <label for="nome">Nome Completo</label>
          <input class="form-control" type="text" id="nome" name="nome" placeholder="nome automatico do cliente"
            formControlName="nome">
        </div>

        <div class="form-group">
          <label for="nascimento">Nascimento: </label>
          <input class="input-group" type="date" formControlName="nascimento">
        </div>


        <div class="form-group">
          <label for="cpf">CPF</label>
          <input class="form-control" type="text" id="cpf" name="cpf" placeholder="cpf automatico" formControlName="cpf"
            maxlength="11">
        </div>

        <div class="form-group">
          <label for="tel">Telefone</label>
          <input class="form-control" type="tel" id="tel" name="tel" placeholder="telefone automatico"
            formControlName="tel" maxlength="11">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" name="email" placeholder="email automatico"
            formControlName="email" maxlength="30">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <header class="text-light p-2 margin-top:30 rounded" style="background-color: #6fb2ff;">
        Meus pedidos
      </header>
      <br>
      <h4><strong>Pedido: #0001</strong></h4>
      <br>
      <div class="d-flex justify-content-center">
        <div class="card col-md-8" style="margin-bottom: 50px;" >
          <img src="assets/gelodecoco.png" class="card-img-top" alt="...">
          <div class="card-body text-justify">
            <h5 class="text-center text-light rounded" style="background-color: #2ec754;" >Pedido Entregue</h5>
            <br>
            <h5 class="card-title text-center">Saco de Gelo 1kg</h5>
            <p class="card-text">Nosso produto se diferencia por não conter em sua embalagem pedaços quebrados de gelo,
              mas somente
              os cubos, o que em termos de aproveitamento se reflete em economia para seu bolso.</p>
            <a routerLink="/lista-de-produtos" class="card-text stretched-link">
              <p> <s>de: R$13,00 </s> <br> <b id="preco">por R$10,00</b></p>
            </a>
          </div>
        </div>
      </div>

</div>

  </form>
</main>