<main class="container">
    <form>
        <div>
            <app-pagina-do-cliente></app-pagina-do-cliente>

            <app-endereco *ngIf="principalEndereco != null" [endereco]="principalEndereco"></app-endereco>

            <!-- <div class="card" style="margin-top: 25px;" style="width: 27rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Endereço</h6>
                  <p class="card-text">
                    <p>{{enderecos._endereco}}, {{enderecos._numero}} - {{enderecos._bairro}}</p>
                    <p>{{enderecos._cidade}}, {{enderecos._estado}}</p>
                    <p>CEP: {{endereco.cep}}</p>
                </div>
              </div> -->


        </div>
    </form>
</main>
