.container{
display: flex;
justify-content: center;
}

.listagemenderecos {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    top: 10px;
    overflow-y: auto;
    cursor: pointer;
}

.tituloLista{
    font-size: larger;
    color: rgb(32, 57, 197);
    align-items: center;
    font-weight: bold;
}
